---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header/Header.astro";
import LeftSidebar from "@components/LeftSidebar.astro";
import Footer from "@components/Footer/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

type Props = {
  image?: string;
  title?: string;
  description?: string;
  is404?: boolean;
  isDocs?: boolean;
  filteredEntries?: any;
  currentPage?: any;
};

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  is404 = false,
  isDocs = false,
  filteredEntries,
  currentPage,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class:list={["bg-base-100", { "drawer drawer-mobile": isDocs }]}>
      {isDocs && <input id="my-drawer" type="checkbox" class="drawer-toggle" />}

      <div
        class:list={[
          "flex flex-col bg-base-100",
          { "h-screen": is404, "drawer-content": isDocs },
        ]}
      >
        <Header isDocs={isDocs} />
        <div class:list={[{ "m-auto": is404 }]}>
          <main>
            <slot />
          </main>
        </div>
        <Footer />
      </div>

      {
        isDocs && (
          <LeftSidebar entries={filteredEntries} currentPage={currentPage} />
        )
      }
    </div>
  </body>
</html>
